div.logout {
  position: absolute;
  right: 10;
  top: 10px;
  font-weight: bold;
  font-size: 12pt;
}
.list-group-flush {
  max-height: 300px;
  margin-bottom: 10px;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
}